# Analyzing Ford [GoBike System](https://s3.amazonaws.com/fordgobike-data/index.html) Data

<span style="color: gray; font-size:1em;">Mateusz Zajac</span>
<br><span style="color: gray; font-size:1em;">Feb-2019</span>

## Preliminary Wrangling

> Briefly introduce your dataset here.

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import glob
import os

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

# path to the folder where all files has been stored
path =r'...\Udacity Projects\project_4-communicate_data_findings\Ford_GoBike_System_Data_201801-201901'

# store list of all file locations
all_files = glob.glob(os.path.join(path, "*.csv"))

# load and union the dataset 
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index = True)

# write newly loaded data
df.to_csv('master_file.csv', index=False)

In [2]:
# load the dataset
df = pd.read_csv('master_file.csv')

In [3]:
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [5]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 16 columns):
duration_sec               1863721 non-null int64
start_time                 1863721 non-null object
end_time                   1863721 non-null object
start_station_id           1851950 non-null float64
start_station_name         1851950 non-null object
start_station_latitude     1863721 non-null float64
start_station_longitude    1863721 non-null float64
end_station_id             1851950 non-null float64
end_station_name           1851950 non-null object
end_station_latitude       1863721 non-null float64
end_station_longitude      1863721 non-null float64
bike_id                    1863721 non-null int64
user_type                  1863721 non-null object
member_birth_year          1753003 non-null float64
member_gender              1753354 non-null object
bike_share_for_all_trip    1863721 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 227.5+ MB

In [6]:
df.duplicated().sum()

0

In [7]:
df.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.863721e+06,1.753003e+06
mean,8.573026e+02,1.196744e+02,3.776678e+01,-1.223492e+02,1.181730e+02,3.776690e+01,-1.223487e+02,2.296851e+03,1.983088e+03
std,2.370379e+03,1.003976e+02,1.057689e-01,1.654634e-01,1.004403e+02,1.056483e-01,1.650597e-01,1.287733e+03,1.044289e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.100000e+01,1.881000e+03
25%,3.500000e+02,3.300000e+01,3.777106e+01,-1.224114e+02,3.000000e+01,3.777106e+01,-1.224094e+02,1.225000e+03,1.978000e+03
50%,5.560000e+02,8.900000e+01,3.778107e+01,-1.223974e+02,8.800000e+01,3.778127e+01,-1.223971e+02,2.338000e+03,1.985000e+03
75%,8.720000e+02,1.860000e+02,3.779625e+01,-1.222865e+02,1.830000e+02,3.779728e+01,-1.222894e+02,3.333000e+03,1.991000e+03
max,8.636600e+04,3.810000e+02,4.551000e+01,-7.357000e+01,3.810000e+02,4.551000e+01,-7.357000e+01,6.234000e+03,2.000000e+03

In [8]:
df.sample(50)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
1207777,4696,2018-08-01 10:16:57.3510,2018-08-01 11:35:13.6470,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,8.0,The Embarcadero at Vallejo St,37.799953,-122.398525,1406,Customer,1972.0,Male,No
735388,846,2018-06-14 07:40:00.1080,2018-06-14 07:54:06.1760,86.0,Market St at Dolores St,37.769305,-122.426826,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,1753,Subscriber,1981.0,Male,No
157894,604,2018-02-11 17:36:53.1830,2018-02-11 17:46:57.2310,109.0,17th St at Valencia St,37.763316,-122.421904,86.0,Market St at Dolores St,37.769305,-122.426826,1092,Subscriber,1993.0,Male,No
629972,418,2018-06-29 17:13:45.5860,2018-06-29 17:20:44.1400,176.0,MacArthur BART Station,37.828410,-122.266315,152.0,47th St at San Pablo Ave,37.835632,-122.281051,3534,Subscriber,1987.0,Male,No
1118399,1838,2018-08-15 17:12:13.3250,2018-08-15 17:42:51.5230,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,133.0,Valencia St at 22nd St,37.755213,-122.420975,1248,Subscriber,1975.0,Male,No
1136544,985,2018-08-13 07:12:48.6870,2018-08-13 07:29:13.9010,55.0,Webster St at Grove St,37.777053,-122.429558,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,2392,Subscriber,1992.0,Female,No
817404,393,2018-06-01 09:34:46.8280,2018-06-01 09:41:20.6700,62.0,Victoria Manalo Draves Park,37.777791,-122.406432,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,581,Subscriber,1994.0,Male,No
874307,988,2018-07-23 18:15:55.3100,2018-07-23 18:32:23.8840,78.0,Folsom St at 9th St,37.773717,-122.411647,28.0,The Embarcadero at Bryant St,37.787168,-122.388098,2215,Subscriber,1995.0,Male,No
1456130,676,2018-10-22 19:45:00.8980,2018-10-22 19:56:17.6710,84.0,Duboce Park,37.769200,-122.433812,78.0,Folsom St at 9th St,37.773717,-122.411647,1500,Subscriber,1982.0,Male,No
103303,616,2018-02-27 07:26:06.8040,2018-02-27 07:36:23.5340,58.0,Market St at 10th St,37.776619,-122.417385,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,3673,Subscriber,1995.0,Male,No
1731516,367,2018-11-01 08:10:46.5090,2018-11-01 08:16:53.7780,28.0,The Embarcadero at Bryant St,37.787168,-122.388098,66.0,3rd St at Townsend St,37.778742,-122.392741,559,Subscriber,1961.0,Male,No
1691487,98,2018-11-07 13:52:58.1750,2018-11-07 13:54:36.4780,27.0,Beale St at Harrison St,37.788059,-122.391865,24.0,Spear St at Folsom St,37.789677,-122.390428,770,Subscriber,1931.0,Male,No
884587,200,2018-07-21 22:03:04.1910,2018-07-21 22:06:24.2230,180.0,Telegraph Ave at 23rd St,37.812678,-122.268773,195.0,Bay Pl at Vernon St,37.812314,-122.260779,3689,Subscriber,1993.0,Male,No
1301221,654,2018-09-17 08:43:34.4700,2018-09-17 08:54:29.2400,213.0,32nd St at Adeline St,37.823847,-122.281193,160.0,West Oakland BART Station,37.805318,-122.294837,869,Subscriber,1983.0,Female,No
156536,398,2018-02-12 08:50:45.9620,2018-02-12 08:57:24.3720,60.0,8th St at Ringold St,37.774520,-122.409449,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,1608,Customer,1997.0,Male,No
1744749,491,2018-12-27 19:18:21.2270,2018-12-27 19:26:32.5350,134.0,Valencia St at 24th St,37.752428,-122.420628,129.0,Harrison St at 20th St,37.758862,-122.412544,5554,Subscriber,1971.0,Male,No
788300,380,2018-06-05 20:49:08.6130,2018-06-05 20:55:28.9790,84.0,Duboce Park,37.769200,-122.433812,31.0,Raymond Kimbell Playground,37.783813,-122.434559,3899,Customer,1983.0,Male,No
1493976,828,2018-10-16 18:15:39.8590,2018-10-16 18:29:28.4330,43.0,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,47.0,4th St at Harrison St,37.780955,-122.399749,2348,Subscriber,1987.0,Male,No
1255582,819,2018-09-24 08:39:15.3380,2018-09-24 08:52:54.9080,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,81.0,Berry St at 4th St,37.775880,-122.393170,630,Subscriber,1974.0,Female,No
975705,222,2018-07-09 06:16:55.7400,2018-07-09 06:20:38.6880,323.0,Broadway at Kearny,37.798014,-122.405950,14.0,Clay St at Battery St,37.795001,-122.399970,652,Subscriber,1996.0,Female,No
1092766,331,2018-08-20 09:40:49.6320,2018-08-20 09:46:21.4980,310.0,San Fernando St at 4th St,37.335885,-121.885660,317.0,San Salvador St at 9th St,37.333955,-121.877349,1288,Subscriber,1995.0,Male,Yes
1020912,218,2018-08-31 15:58:26.4500,2018-08-31 16:02:05.1900,176.0,MacArthur BART Station,37.828410,-122.266315,177.0,MacArthur Blvd at Telegraph Ave,37.826286,-122.265100,825,Subscriber,1965.0,Female,No
557625,563,2018-05-11 17:48:21.2110,2018-05-11 17:57:45.0980,140.0,Cesar Chavez St at Dolores St,37.747858,-122.424986,109.0,17th St at Valencia St,37.763316,-122.421904,2155,Subscriber,1962.0,Male,No
152097,277,2018-02-13 08:13:47.7520,2018-02-13 08:18:24.9090,195.0,Bay Pl at Vernon St,37.812314,-122.260779,182.0,19th Street BART Station,37.809013,-122.268247,1417,Subscriber,1974.0,Male,No
651995,943,2018-06-26 19:06:12.9260,2018-06-26 19:21:56.3270,24.0,Spear St at Folsom St,37.789677,-122.390428,92.0,Mission Bay Kids Park,37.772301,-122.393028,1737,Subscriber,1989.0,Female,No
1602980,617,2018-11-30 08:34:32.2720,2018-11-30 08:44:50.1790,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,3375,Subscriber,1976.0,Female,No
770412,5506,2018-06-08 10:35:41.4580,2018-06-08 12:07:27.5110,173.0,Shattuck Ave at 55th St,37.840364,-122.264488,173.0,Shattuck Ave at 55th St,37.840364,-122.264488,299,Customer,NaN,NaN,No
241580,478,2018-03-22 09:24:15.8910,2018-03-22 09:32:14.4460,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,342.0,Colin P Kelly Jr St at Townsend St (Temporary ...,37.781383,-122.389841,2751,Subscriber,1974.0,Female,No
1670503,3870,2018-11-11 15:19:48.6840,2018-11-11 16:24:19.2270,157.0,65th St at Hollis St,37.846784,-122.291376,157.0,65th St at Hollis St,37.846784,-122.291376,990,Customer,NaN,NaN,No
1268982,774,2018-09-21 12:33:27.5500,2018-09-21 12:46:21.9350,49.0,S Park St at 3rd St,37.780760,-122.394989,22.0,Howard St at Beale St,37.789756,-122.394643,4333,Subscriber,1991.0,Male,No
1477583,1021,2018-10-18 20:28:50.3600,2018-10-18 20:45:51.4350,22.0,Howard St at Beale St,37.789756,-122.394643,350.0,8th St at Brannan St,37.771431,-122.405787,2692,Subscriber,1987.0,Male,No
1130044,454,2018-08-14 06:38:20.4390,2018-08-14 06:45:55.1900,139.0,Garfield Square (25th St at Harrison St),37.751017,-122.411901,141.0,Valencia St at Cesar Chavez St,37.747998,-122.420219,3375,Subscriber,1991.0,Female,No
957516,206,2018-07-11 09:46:20.1780,2018-07-11 09:49:46.5630,186.0,Lakeside Dr at 14th St,37.801319,-122.262642,163.0,Lake Merritt BART Station,37.797320,-122.265320,3331,Subscriber,1987.0,Female,No
1573157,2084,2018-10-04 09:42:02.8790,2018-10-04 10:16:47.1680,123.0,Folsom St at 19th St,37.760594,-122.414817,9.0,Broadway at Battery St,37.798572,-122.400869,2665,Customer,1982.0,Male,No
929231,537,2018-07-15 16:51:25.9820,2018-07-15 17:00:23.3310,76.0,McCoppin St at Valencia St,37.771662,-122.422423,89.0,Division St at Potrero Ave,37.769218,-122.407646,2718,Subscriber,1982.0,Male,No
1246079,621,2018-09-25 14:34:07.4790,2018-09-25 14:44:29.0780,25.0,Howard St at 2nd St,37.787522,-122.397405,62.0,Victoria Manalo Draves Park,37.777791,-122.406432,2202,Subscriber,1987.0,Other,No
670542,347,2018-06-24 10:43:12.5360,2018-06-24 10:49:00.0140,243.0,Bancroft Way at College Ave,37.869360,-122.254337,245.0,Downtown Berkeley BART,37.870348,-122.267764,466,Subscriber,1992.0,Male,No
1645547,255,2018-11-16 11:58:38.7870,2018-11-16 12:02:54.1820,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,44.0,Civic Center/UN Plaza BART Station (Market St ...,37.781074,-122.411738,3063,Subscriber,1974.0,Male,No
1138022,762,2018-08-12 17:05:37.8760,2018-08-12 17:18:20.5380,84.0,Duboce Park,37.769200,-122.433812,134.0,Valencia St at 24th St,37.752428,-122.420628,1552,Customer,1989.0,Male,No
1849784,237,2018-12-04 12:43:45.0120,2018-12-04 12:47:42.1360,256.0,Hearst Ave at Euclid Ave,37.875112,-122.260553,245.0,Downtown Berkeley BART,37.870139,-122.268422,1024,Subscriber,1994.0,Male,No
448741,456,2018-05-31 10:18:27.7300,2018-05-31 10:26:04.1660,78.0,Folsom St at 9th St,37.773717,-122.411647,36.0,Folsom St at 3rd St,37.783830,-122.398870,148,Customer,1996.0,Male,No
28413,731,2018-01-24 08:29:03.9670,2018-01-24 08:41:14.9770,96.0,Dolores St at 15th St,37.766210,-122.426614,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,992,Subscriber,1983.0,Male,No
1160422,523,2018-08-08 20:41:23.8650,2018-08-08 20:50:07.8060,202.0,Washington St at 8th St,37.800754,-122.274894,160.0,West Oakland BART Station,37.805318,-122.294837,1337,Customer,1989.0,Male,No
1673943,499,2018-11-10 12:08:41.5470,2018-11-10 12:17:01.3940,336.0,Potrero Ave and Mariposa St,37.763281,-122.407377,104.0,4th St at 16th St,37.767045,-122.390833,3088,Subscriber,1986.0,Male,No
632160,234,2018-06-29 11:57:05.3870,2018-06-29 12:00:59.5380,76.0,McCoppin St at Valencia St,37.771662,-122.422423,98.0,Valencia St at 16th St,37.765052,-122.421866,3374,Subscriber,1967.0,Male,No
463600,1014,2018-05-29 08:22:40.5170,2018-05-29 08:39:35.2880,66.0,3rd St at Townsend St,37.778742,-122.392741,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,2559,Subscriber,1992.0,Female,No
789005,1255,2018-06-05 18:50:54.9990,2018-06-05 19:11:50.0190,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,134.0,Valencia St at 24th St,37.752428,-122.420628,3392,Subscriber,1985.0,Male,No
1214950,793,2018-09-29 21:09:13.3930,2018-09-29 21:22:26.8160,121.0,Mission Playground,37.759210,-122.421339,139.0,Garfield Square (25th St at Harrison St),37.751017,-122.411901,4030,Subscriber,1988.0,Male,No
499704,289,2018-05-22 09:23:54.8400,2018-05-22 09:28:44.4840,22.0,Howard St at Beale St,37.789756,-122.394643,50.0,2nd St at Townsend St,37.780526,-122.390288,3867,Subscriber,1981.0,Male,No
716938,588,2018-06-17 08:37:48.0420,2018-06-17 08:47:36.9910,125.0,20th St at Bryant St,37.759200,-122.409851,78.0,Folsom St at 9th St,37.773717,-122.411647,2029,Subscriber,1983.0,Male,No

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!