# Analyzing Ford [GoBike System](https://s3.amazonaws.com/fordgobike-data/index.html) Data

<span style="color: gray; font-size:1em;">Mateusz Zajac</span>
<br><span style="color: gray; font-size:1em;">Feb-2019</span>

## Preliminary Wrangling

> Briefly introduce your dataset here.


## Table of Contents
- [Introduction](#intro)
- [Part I - Gathering Data](#gather)
- [Part II - Assessing Data](#assess)
- [Part III - Cleaning Data](#clean)
- [Part IV - Analyzing Data](#analysis)

<a id='gather'></a>
#### Part I - Gathering Data

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import glob
import os

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

# path to the folder where all files has been stored
path =r'...\Udacity Projects\project_4-communicate_data_findings\Ford_GoBike_System_Data_201801-201901'

# store list of all file locations
all_files = glob.glob(os.path.join(path, "*.csv"))

# load and union the dataset 
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index = True)

# write newly loaded data
df.to_csv('master_file.csv', index=False)

In [2]:
# load the dataset
df = pd.read_csv('master_file.csv')

<a id='assess'></a>
### Part II - Assessing  Data

In [3]:
# Visially check first 5 records
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [4]:
# Visially check 50 random records
df.sample(50)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
513414,871,2018-05-19 14:55:01.1530,2018-05-19 15:09:32.4870,195.0,Bay Pl at Vernon St,37.812314,-122.260779,197.0,El Embarcadero at Grand Ave,37.808848,-122.249680,3482,Subscriber,1990.0,Female,No
1534979,468,2018-10-10 10:15:20.0490,2018-10-10 10:23:08.1070,196.0,Grand Ave at Perkins St,37.808894,-122.256460,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,978,Subscriber,1984.0,Male,No
714524,877,2018-06-17 17:41:41.0510,2018-06-17 17:56:18.2010,210.0,45th St at Manila,37.833294,-122.256224,202.0,Washington St at 8th St,37.800754,-122.274894,510,Subscriber,1991.0,Male,No
977660,1592,2018-07-08 15:42:15.6620,2018-07-08 16:08:47.8680,71.0,Broderick St at Oak St,37.773063,-122.439078,16.0,Steuart St at Market St,37.794130,-122.394430,1088,Subscriber,1993.0,Female,No
1521956,1087,2018-10-12 07:54:18.0400,2018-10-12 08:12:25.1870,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,19.0,Post St at Kearny St,37.788975,-122.403452,673,Subscriber,1979.0,Female,No
187939,1505,2018-02-04 15:44:08.2320,2018-02-04 16:09:13.2460,274.0,Oregon St at Adeline St,37.857567,-122.267558,164.0,Isabella St at San Pablo Ave,37.814988,-122.274844,1177,Subscriber,1992.0,Male,No
587987,189,2018-05-07 10:27:06.5970,2018-05-07 10:30:15.9610,338.0,13th St at Franklin St,37.803189,-122.270579,337.0,Webster St at 19th St,37.806970,-122.266588,1643,Subscriber,1989.0,Male,No
827437,354,2018-07-30 19:02:19.6150,2018-07-30 19:08:14.0650,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,389,Subscriber,1971.0,Male,No
153971,277,2018-02-12 17:55:06.9480,2018-02-12 17:59:44.5640,11.0,Davis St at Jackson St,37.797280,-122.398436,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,2875,Subscriber,1965.0,Female,No
1084491,606,2018-08-21 15:10:54.9530,2018-08-21 15:21:01.6410,64.0,5th St at Brannan St,37.776754,-122.399018,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,780,Subscriber,1975.0,Male,No
1103850,284,2018-08-17 17:47:01.3470,2018-08-17 17:51:45.5160,61.0,Howard St at 8th St,37.776513,-122.411306,87.0,Folsom St at 13th St,37.769757,-122.415674,854,Subscriber,1978.0,Male,No
950779,812,2018-07-12 08:17:17.9790,2018-07-12 08:30:50.3710,22.0,Howard St at Beale St,37.789756,-122.394643,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,1406,Subscriber,1961.0,Male,No
44713,1045,2018-01-19 08:41:31.3370,2018-01-19 08:58:56.6150,116.0,Mississippi St at 17th St,37.764802,-122.394771,16.0,Steuart St at Market St,37.794130,-122.394430,1618,Subscriber,1970.0,Male,No
579256,1498,2018-05-08 17:03:17.2520,2018-05-08 17:28:15.8930,212.0,Mosswood Park,37.824931,-122.260479,182.0,19th Street BART Station,37.809013,-122.268247,3420,Subscriber,1961.0,Female,No
722763,196,2018-06-15 18:03:40.4980,2018-06-15 18:06:57.0390,126.0,Esprit Park,37.761634,-122.390648,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,3148,Subscriber,1991.0,Male,No
1280384,110,2018-09-19 21:32:09.3520,2018-09-19 21:33:59.3640,183.0,Telegraph Ave at 19th St,37.808702,-122.269927,180.0,Telegraph Ave at 23rd St,37.812678,-122.268773,474,Subscriber,1988.0,Male,No
1258175,268,2018-09-23 17:09:50.4630,2018-09-23 17:14:18.7030,126.0,Esprit Park,37.761634,-122.390648,115.0,Jackson Playground,37.765026,-122.398773,4332,Subscriber,1969.0,Male,Yes
241145,533,2018-03-22 12:17:21.3680,2018-03-22 12:26:14.6150,342.0,Colin P Kelly Jr St at Townsend St (Temporary ...,37.781383,-122.389841,16.0,Steuart St at Market St,37.794130,-122.394430,2716,Subscriber,1983.0,Male,No
342609,448,2018-04-25 09:22:47.3290,2018-04-25 09:30:16.2720,58.0,Market St at 10th St,37.776619,-122.417385,4.0,Cyril Magnin St at Ellis St,37.785881,-122.408915,3142,Subscriber,1974.0,Male,No
1679204,221,2018-11-09 09:02:12.5140,2018-11-09 09:05:54.0030,242.0,Milvia St at Derby St,37.860125,-122.269384,246.0,Berkeley Civic Center,37.869060,-122.270556,3537,Subscriber,1960.0,Male,No
1413884,277,2018-10-29 17:30:47.6940,2018-10-29 17:35:24.8130,89.0,Division St at Potrero Ave,37.769218,-122.407646,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,572,Subscriber,1985.0,Male,No
912224,604,2018-07-18 06:48:18.7830,2018-07-18 06:58:23.0900,14.0,Clay St at Battery St,37.795001,-122.399970,61.0,Howard St at 8th St,37.776513,-122.411306,3921,Subscriber,1984.0,Male,No
528078,204,2018-05-17 07:42:38.8340,2018-05-17 07:46:03.3610,230.0,14th St at Mandela Pkwy,37.810743,-122.291415,160.0,West Oakland BART Station,37.805318,-122.294837,3284,Subscriber,1989.0,Male,Yes
1725893,1490,2018-11-01 18:54:04.3380,2018-11-01 19:18:54.5930,41.0,Golden Gate Ave at Polk St,37.781270,-122.418740,95.0,Sanchez St at 15th St,37.766219,-122.431060,3654,Subscriber,1990.0,Female,Yes
373557,304,2018-04-18 15:01:07.8060,2018-04-18 15:06:12.5310,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,81.0,Berry St at 4th St,37.775880,-122.393170,1519,Subscriber,1977.0,Male,Yes
1610484,156,2018-11-28 15:46:46.8890,2018-11-28 15:49:23.3120,88.0,11th St at Bryant St,37.770030,-122.411726,89.0,Division St at Potrero Ave,37.769218,-122.407646,167,Subscriber,1983.0,Male,No
655271,752,2018-06-26 13:46:56.4110,2018-06-26 13:59:29.2390,317.0,San Salvador St at 9th St,37.333955,-121.877349,280.0,San Fernando at 7th St,37.337246,-121.883074,1812,Subscriber,1994.0,Female,Yes
1523714,329,2018-10-11 19:12:35.1030,2018-10-11 19:18:04.1400,163.0,Lake Merritt BART Station,37.797320,-122.265320,200.0,2nd Ave at E 18th St,37.800214,-122.253810,103,Subscriber,1984.0,Female,No
1746594,533,2018-12-27 12:10:32.9950,2018-12-27 12:19:26.1050,336.0,Potrero Ave and Mariposa St,37.763281,-122.407377,336.0,Potrero Ave and Mariposa St,37.763281,-122.407377,232,Subscriber,1984.0,Male,Yes
502225,3122,2018-05-21 18:34:10.1090,2018-05-21 19:26:13.0460,78.0,Folsom St at 9th St,37.773717,-122.411647,90.0,Townsend St at 7th St,37.771058,-122.402717,3911,Subscriber,1993.0,Female,Yes
1192761,495,2018-08-03 14:33:17.7300,2018-08-03 14:41:33.0410,323.0,Broadway at Kearny,37.798014,-122.405950,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,3727,Subscriber,1986.0,Male,No
1558988,314,2018-10-06 13:46:56.1680,2018-10-06 13:52:10.7850,270.0,Ninth St at Heinz Ave,37.853489,-122.289415,263.0,Channing Way at San Pablo Ave,37.862827,-122.290231,852,Subscriber,1982.0,Male,No
667096,237,2018-06-24 19:58:05.1960,2018-06-24 20:02:02.5540,275.0,Julian St at 6th St,37.342997,-121.888889,305.0,Ryland Park,37.342725,-121.895617,1346,Subscriber,1994.0,Male,Yes
1040530,191,2018-08-28 18:00:54.6640,2018-08-28 18:04:05.8550,87.0,Folsom St at 13th St,37.769757,-122.415674,77.0,11th St at Natoma St,37.773507,-122.416040,3118,Subscriber,1973.0,Male,No
1659030,435,2018-11-13 19:29:53.8000,2018-11-13 19:37:09.6700,22.0,Howard St at Beale St,37.789756,-122.394643,81.0,Berry St at 4th St,37.775880,-122.393170,2473,Subscriber,1987.0,Male,No
801347,442,2018-06-04 09:09:04.7680,2018-06-04 09:16:27.6220,58.0,Market St at 10th St,37.776619,-122.417385,61.0,Howard St at 8th St,37.776513,-122.411306,2971,Customer,NaN,NaN,No
997590,799,2018-07-04 22:36:12.6790,2018-07-04 22:49:31.9860,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,66.0,3rd St at Townsend St,37.778742,-122.392741,3690,Subscriber,1998.0,Female,No
862978,999,2018-07-25 08:42:26.9460,2018-07-25 08:59:06.0140,16.0,Steuart St at Market St,37.794130,-122.394430,89.0,Division St at Potrero Ave,37.769218,-122.407646,461,Subscriber,1983.0,Male,No
1380217,438,2018-09-04 19:23:43.2850,2018-09-04 19:31:01.8700,59.0,S Van Ness Ave at Market St,37.774814,-122.418954,110.0,17th & Folsom Street Park (17th St at Folsom St),37.763708,-122.415204,2599,Subscriber,1989.0,Male,No
1040408,648,2018-08-28 18:02:31.3710,2018-08-28 18:13:20.2880,27.0,Beale St at Harrison St,37.788059,-122.391865,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,2188,Customer,1976.0,Female,No
450022,377,2018-05-31 08:30:01.1100,2018-05-31 08:36:18.5500,119.0,18th St at Noe St,37.761047,-122.432642,223.0,16th St Mission BART Station 2,37.764765,-122.420091,3398,Subscriber,1988.0,Male,No
1718591,914,2018-11-02 19:38:13.9610,2018-11-02 19:53:28.5920,16.0,Steuart St at Market St,37.794130,-122.394430,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,2991,Subscriber,1986.0,Male,No
1452639,243,2018-10-23 11:17:35.4520,2018-10-23 11:21:39.2650,120.0,Mission Dolores Park,37.761420,-122.426435,223.0,16th St Mission BART Station 2,37.764765,-122.420091,4320,Subscriber,1981.0,Female,No
330006,2470,2018-04-27 09:45:06.6620,2018-04-27 10:26:17.6040,176.0,MacArthur BART Station,37.828410,-122.266315,154.0,Doyle St at 59th St,37.841924,-122.288045,2500,Subscriber,1964.0,Female,No
551180,334,2018-05-13 12:04:15.6480,2018-05-13 12:09:50.5830,29.0,O'Farrell St at Divisadero St,37.782405,-122.439446,53.0,Grove St at Divisadero,37.775946,-122.437777,3652,Subscriber,1990.0,Female,No
1162062,833,2018-08-08 17:48:20.4710,2018-08-08 18:02:13.7670,52.0,McAllister St at Baker St,37.777416,-122.441838,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,3180,Subscriber,1993.0,Female,No
750358,1298,2018-06-12 08:22:13.5780,2018-06-12 08:43:52.0580,115.0,Jackson Playground,37.765026,-122.398773,13.0,Commercial St at Montgomery St,37.794231,-122.402923,1429,Subscriber,1969.0,Male,No
1183948,1539,2018-08-05 13:37:40.7350,2018-08-05 14:03:20.3890,351.0,10th St at University Ave,37.869060,-122.293400,239.0,Bancroft Way at Telegraph Ave,37.868813,-122.258764,2939,Subscriber,1992.0,Female,No
1203000,345,2018-08-02 07:11:54.7480,2018-08-02 07:17:40.3610,223.0,16th St Mission BART Station 2,37.764765,-122.420091,100.0,Bryant St at 15th St,37.767100,-122.410662,3055,Subscriber,1998.0,Male,No
1109483,582,2018-08-16 19:57:01.3810,2018-08-16 20:06:43.4180,19.0,Post St at Kearny St,37.788975,-122.403452,10.0,Washington St at Kearny St,37.795393,-122.404770,3302,Subscriber,1993.0,Male,No

In [5]:
# View info of the dataframe
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 16 columns):
duration_sec               1863721 non-null int64
start_time                 1863721 non-null object
end_time                   1863721 non-null object
start_station_id           1851950 non-null float64
start_station_name         1851950 non-null object
start_station_latitude     1863721 non-null float64
start_station_longitude    1863721 non-null float64
end_station_id             1851950 non-null float64
end_station_name           1851950 non-null object
end_station_latitude       1863721 non-null float64
end_station_longitude      1863721 non-null float64
bike_id                    1863721 non-null int64
user_type                  1863721 non-null object
member_birth_year          1753003 non-null float64
member_gender              1753354 non-null object
bike_share_for_all_trip    1863721 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 227.5+ MB

In [6]:
# Check if duplicates exist
df.duplicated().sum()

0

In [7]:
# View descriptive statistics of the dataframe
df.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.863721e+06,1.753003e+06
mean,8.573026e+02,1.196744e+02,3.776678e+01,-1.223492e+02,1.181730e+02,3.776690e+01,-1.223487e+02,2.296851e+03,1.983088e+03
std,2.370379e+03,1.003976e+02,1.057689e-01,1.654634e-01,1.004403e+02,1.056483e-01,1.650597e-01,1.287733e+03,1.044289e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.100000e+01,1.881000e+03
25%,3.500000e+02,3.300000e+01,3.777106e+01,-1.224114e+02,3.000000e+01,3.777106e+01,-1.224094e+02,1.225000e+03,1.978000e+03
50%,5.560000e+02,8.900000e+01,3.778107e+01,-1.223974e+02,8.800000e+01,3.778127e+01,-1.223971e+02,2.338000e+03,1.985000e+03
75%,8.720000e+02,1.860000e+02,3.779625e+01,-1.222865e+02,1.830000e+02,3.779728e+01,-1.222894e+02,3.333000e+03,1.991000e+03
max,8.636600e+04,3.810000e+02,4.551000e+01,-7.357000e+01,3.810000e+02,4.551000e+01,-7.357000e+01,6.234000e+03,2.000000e+03

<a id='issues'></a>
**Quality issues**
 * start time and end time are objects not a timestamps
 * user type, gender and bike_share_for_all_trip can be set to category
 * bike id can be set to object
 * member birth year has dates prior to 1900
 
 * we can further enhance the dataset with more details about the time like month, day, hour, weekday
 * we can calculate the distance for rides between stations
 * we can calculate the age of the user

<a id='clean'></a>
### Part III - Cleaning Data

In [8]:
# Create copies of original DataFrames
df_clean = df.copy()

#### Define
Set appropriate data types for fields mentioned in the

In [ ]:
df_clean.start_time = pd.to_datetime(df_clean.start_time)
df_clean.end_time = pd.to_datetime(df_clean.end_time)

In [ ]:
df_clean.user_type = df_clean.user_type.astype('category')
df_clean.member_gender = df_clean.member_gender.astype('category')
df_clean.bike_share_for_all_trip = df_clean.bike_share_for_all_trip.astype('category')

In [ ]:
df_clean.bike_id = df_clean.bike_id.astype(str)

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!