# Analyzing Ford [GoBike System](https://s3.amazonaws.com/fordgobike-data/index.html) Data

<span style="color: gray; font-size:1em;">Mateusz Zajac</span>
<br><span style="color: gray; font-size:1em;">Feb-2019</span>

## Preliminary Wrangling

> Briefly introduce your dataset here.


## Table of Contents
- [Introduction](#intro)
- [Part I - Gathering Data](#gather)
- [Part II - Assessing Data](#assess)
- [Part III - Cleaning Data](#clean)
- [Part IV - Analyzing Data](#analysis)

<a id='gather'></a>
#### Part I - Gathering Data

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import datetime

import glob
import os

%matplotlib inline

> Load in your dataset and describe its properties through the questions below.
Try and motivate your exploration goals through this section.

# path to the folder where all files has been stored
path =r'...\Udacity Projects\project_4-communicate_data_findings\Ford_GoBike_System_Data_201801-201901'

# store list of all file locations
all_files = glob.glob(os.path.join(path, "*.csv"))

# load and union the dataset 
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index = True)

# write newly loaded data
df.to_csv('master_file.csv', index=False)

In [2]:
# load the dataset
df = pd.read_csv('master_file.csv')

<a id='assess'></a>
### Part II - Assessing  Data

In [3]:
# Visially check first 5 records
df.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,75284,2018-01-31 22:52:35.2390,2018-02-01 19:47:19.8240,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No
1,85422,2018-01-31 16:13:34.3510,2018-02-01 15:57:17.3100,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No
2,71576,2018-01-31 14:23:55.8890,2018-02-01 10:16:52.1160,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No
3,61076,2018-01-31 14:53:23.5620,2018-02-01 07:51:20.5000,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No
4,39966,2018-01-31 19:52:24.6670,2018-02-01 06:58:31.0530,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No

In [4]:
# Visially check 50 random records
df.sample(50)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
989918,608,2018-07-06 08:54:41.7840,2018-07-06 09:04:50.6240,4.0,Cyril Magnin St at Ellis St,37.785881,-122.408915,59.0,S Van Ness Ave at Market St,37.774814,-122.418954,3358,Customer,1998.0,Male,No
287487,10453,2018-03-08 11:10:45.7110,2018-03-08 14:04:59.0320,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,3670,Customer,1950.0,Female,No
378126,250,2018-04-17 16:56:59.4320,2018-04-17 17:01:10.1690,95.0,Sanchez St at 15th St,37.766219,-122.431060,84.0,Duboce Park,37.769200,-122.433812,641,Subscriber,1973.0,Male,No
120073,1239,2018-02-21 17:08:53.3720,2018-02-21 17:29:32.6510,19.0,Post St at Kearny St,37.788975,-122.403452,96.0,Dolores St at 15th St,37.766210,-122.426614,2804,Subscriber,1973.0,Female,No
989347,4263,2018-07-06 08:54:16.2640,2018-07-06 10:05:20.1340,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,8.0,The Embarcadero at Vallejo St,37.799953,-122.398525,757,Subscriber,1988.0,Male,No
343347,699,2018-04-25 08:23:38.1050,2018-04-25 08:35:17.6830,109.0,17th St at Valencia St,37.763316,-122.421904,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,3969,Subscriber,1968.0,Male,No
670788,302,2018-06-24 09:46:57.5550,2018-06-24 09:52:00.3670,188.0,Dover St at 57th St,37.842630,-122.267738,158.0,Shattuck Ave at Telegraph Ave,37.833279,-122.263490,3428,Subscriber,1978.0,Male,No
1668843,327,2018-11-12 08:24:37.2180,2018-11-12 08:30:04.7430,77.0,11th St at Natoma St,37.773507,-122.416040,110.0,17th & Folsom Street Park (17th St at Folsom St),37.763708,-122.415204,3709,Subscriber,1983.0,Female,No
353468,1044,2018-04-23 10:28:39.6260,2018-04-23 10:46:04.1470,55.0,Webster St at Grove St,37.777053,-122.429558,16.0,Steuart St at Market St,37.794130,-122.394430,779,Subscriber,1978.0,Female,No
113596,955,2018-02-23 09:08:54.7690,2018-02-23 09:24:50.7500,22.0,Howard St at Beale St,37.789756,-122.394643,100.0,Bryant St at 15th St,37.767100,-122.410662,1954,Subscriber,1982.0,Male,No
1784751,477,2018-12-17 17:45:32.0660,2018-12-17 17:53:29.3050,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,81.0,Berry St at 4th St,37.775880,-122.393170,5367,Customer,1988.0,Male,No
276725,1583,2018-03-11 17:17:16.3580,2018-03-11 17:43:39.6990,266.0,Parker St at Fulton St,37.862464,-122.264791,150.0,Adeline St at 40th St,37.831277,-122.278267,2177,Subscriber,1997.0,Male,Yes
348313,568,2018-04-24 10:09:18.2230,2018-04-24 10:18:46.8870,193.0,Grand Ave at Santa Clara Ave,37.812744,-122.247215,182.0,19th Street BART Station,37.809013,-122.268247,80,Subscriber,1990.0,Male,No
787955,2013,2018-06-05 22:13:22.9270,2018-06-05 22:46:56.2320,305.0,Ryland Park,37.342725,-121.895617,305.0,Ryland Park,37.342725,-121.895617,1891,Subscriber,1990.0,Male,Yes
1050283,426,2018-08-27 09:59:34.6520,2018-08-27 10:06:41.5490,16.0,Steuart St at Market St,37.794130,-122.394430,50.0,2nd St at Townsend St,37.780526,-122.390288,4421,Subscriber,1983.0,Male,No
260031,179,2018-03-16 15:52:19.8490,2018-03-16 15:55:19.6650,241.0,Ashby BART Station,37.852477,-122.270213,272.0,Woolsey St at Sacramento St,37.850578,-122.278175,1160,Subscriber,1985.0,Male,No
1800896,400,2018-12-13 21:04:40.7660,2018-12-13 21:11:20.7990,139.0,Garfield Square (25th St at Harrison St),37.751017,-122.411901,133.0,Valencia St at 22nd St,37.755213,-122.420975,5315,Subscriber,1987.0,Other,No
1112941,356,2018-08-16 12:55:04.4060,2018-08-16 13:01:00.5310,36.0,Folsom St at 3rd St,37.783830,-122.398870,61.0,Howard St at 8th St,37.776513,-122.411306,3800,Subscriber,1984.0,Male,No
1610144,620,2018-11-28 16:36:10.6530,2018-11-28 16:46:31.1350,363.0,Salesforce Transit Center (Natoma St at 2nd St),37.787492,-122.398285,42.0,San Francisco City Hall (Polk St at Grove St),37.778650,-122.418230,2584,Subscriber,1993.0,Male,No
1536925,465,2018-10-10 07:56:30.7110,2018-10-10 08:04:16.4130,269.0,Telegraph Ave at Carleton St,37.862320,-122.258801,256.0,Hearst Ave at Euclid Ave,37.875112,-122.260553,3615,Subscriber,1994.0,Male,No
152032,309,2018-02-13 08:19:45.9940,2018-02-13 08:24:55.0170,28.0,The Embarcadero at Bryant St,37.787168,-122.388098,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2007,Subscriber,1986.0,Female,No
621736,766,2018-05-01 08:54:16.5340,2018-05-01 09:07:02.6740,312.0,San Jose Diridon Station,37.329732,-121.901782,290.0,George St at 1st St,37.347732,-121.899464,2832,Customer,1983.0,Male,No
1187234,812,2018-08-04 15:04:58.3450,2018-08-04 15:18:31.0760,87.0,Folsom St at 13th St,37.769757,-122.415674,121.0,Mission Playground,37.759210,-122.421339,3071,Subscriber,1991.0,Female,No
742429,2043,2018-06-13 08:17:41.5890,2018-06-13 08:51:44.8450,124.0,19th St at Florida St,37.760447,-122.410807,14.0,Clay St at Battery St,37.795001,-122.399970,1938,Subscriber,1992.0,Female,No
1415776,629,2018-10-29 11:24:03.3430,2018-10-29 11:34:32.7570,230.0,14th St at Mandela Pkwy,37.810743,-122.291415,186.0,Lakeside Dr at 14th St,37.801319,-122.262642,1339,Subscriber,1987.0,Male,No
531325,912,2018-05-16 16:50:50.5690,2018-05-16 17:06:03.3500,337.0,Webster St at 19th St,37.806970,-122.266588,203.0,Webster St at 2nd St,37.795195,-122.273970,1464,Subscriber,1979.0,Female,No
481425,326,2018-05-25 08:05:23.4600,2018-05-25 08:10:49.6370,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,79.0,7th St at Brannan St,37.773492,-122.403672,4228,Subscriber,1975.0,Male,No
1183021,380,2018-08-05 16:58:40.5040,2018-08-05 17:05:01.4390,350.0,8th St at Brannan St,37.771431,-122.405787,125.0,20th St at Bryant St,37.759200,-122.409851,2612,Subscriber,1986.0,Male,No
604854,447,2018-05-03 18:07:47.0410,2018-05-03 18:15:14.7530,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,3915,Subscriber,1974.0,Male,No
1533498,325,2018-10-10 15:47:18.2780,2018-10-10 15:52:44.1290,351.0,10th St at University Ave,37.869060,-122.293400,251.0,California St at University Ave,37.870555,-122.279720,578,Customer,1991.0,Male,No
1357260,274,2018-09-08 00:09:35.1960,2018-09-08 00:14:09.2400,113.0,Franklin Square,37.764555,-122.410345,115.0,Jackson Playground,37.765026,-122.398773,2338,Subscriber,1989.0,Male,No
1425622,223,2018-10-27 09:16:27.5320,2018-10-27 09:20:11.2320,240.0,Haste St at Telegraph Ave,37.866043,-122.258804,252.0,Channing Way at Shattuck Ave,37.865847,-122.267443,376,Subscriber,1998.0,Male,Yes
1677131,345,2018-11-09 16:07:41.7800,2018-11-09 16:13:27.7080,269.0,Telegraph Ave at Carleton St,37.862320,-122.258801,241.0,Ashby BART Station,37.852477,-122.270213,3674,Subscriber,1976.0,Female,Yes
972396,1427,2018-07-09 13:09:20.5080,2018-07-09 13:33:08.3450,5.0,Powell St BART Station (Market St at 5th St),37.783899,-122.408445,16.0,Steuart St at Market St,37.794130,-122.394430,3568,Subscriber,1980.0,Female,No
243798,308,2018-03-21 17:18:25.1130,2018-03-21 17:23:33.5000,59.0,S Van Ness Ave at Market St,37.774814,-122.418954,61.0,Howard St at 8th St,37.776513,-122.411306,1473,Subscriber,1988.0,Female,Yes
1209728,314,2018-08-01 08:11:55.9950,2018-08-01 08:17:10.9750,61.0,Howard St at 8th St,37.776513,-122.411306,350.0,8th St at Brannan St,37.771431,-122.405787,1792,Subscriber,1987.0,Female,No
86687,882,2018-01-04 08:40:55.5870,2018-01-04 08:55:38.1690,133.0,Valencia St at 22nd St,37.755213,-122.420975,66.0,3rd St at Townsend St,37.778742,-122.392741,464,Subscriber,1983.0,Male,No
1006835,273,2018-07-03 09:10:11.8360,2018-07-03 09:14:44.9470,115.0,Jackson Playground,37.765026,-122.398773,104.0,4th St at 16th St,37.767045,-122.390833,3578,Subscriber,1986.0,Male,No
1782964,1299,2018-12-17 21:46:15.7100,2018-12-17 22:07:55.2760,64.0,5th St at Brannan St,37.776754,-122.399018,142.0,Guerrero Park,37.745739,-122.422140,5032,Subscriber,1991.0,Male,No
1585592,181,2018-10-02 18:08:08.6450,2018-10-02 18:11:10.3560,160.0,West Oakland BART Station,37.805318,-122.294837,230.0,14th St at Mandela Pkwy,37.810743,-122.291415,2691,Subscriber,1978.0,Male,No
686328,616,2018-06-21 17:09:58.9180,2018-06-21 17:20:14.9920,233.0,12th St at 4th Ave,37.795812,-122.255555,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,1004,Subscriber,1985.0,Female,No
184962,1210,2018-02-05 13:30:24.2010,2018-02-05 13:50:34.6550,70.0,Central Ave at Fell St,37.773311,-122.444293,43.0,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,2916,Subscriber,1975.0,Male,No
107150,415,2018-02-25 18:43:05.0260,2018-02-25 18:50:00.9020,182.0,19th Street BART Station,37.809013,-122.268247,197.0,El Embarcadero at Grand Ave,37.808848,-122.249680,3504,Subscriber,1972.0,Male,No
1047091,194,2018-08-27 18:33:25.6950,2018-08-27 18:36:40.6800,240.0,Haste St at Telegraph Ave,37.866043,-122.258804,252.0,Channing Way at Shattuck Ave,37.865847,-122.267443,2573,Subscriber,1992.0,Male,No
71921,1302,2018-01-10 17:03:31.8390,2018-01-10 17:25:14.6860,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,77.0,11th St at Natoma St,37.773507,-122.416040,2610,Subscriber,1987.0,Male,No
1134048,2421,2018-08-13 12:12:20.8220,2018-08-13 12:52:42.7100,78.0,Folsom St at 9th St,37.773717,-122.411647,324.0,Union Square (Powell St at Post St),37.788300,-122.408531,1230,Customer,1990.0,Female,No
244970,602,2018-03-21 11:20:48.8140,2018-03-21 11:30:50.8400,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,100.0,Bryant St at 15th St,37.767100,-122.410662,1441,Subscriber,1992.0,Male,No
160770,478,2018-02-10 14:30:02.4410,2018-02-10 14:38:01.2350,197.0,El Embarcadero at Grand Ave,37.808848,-122.249680,200.0,2nd Ave at E 18th St,37.800214,-122.253810,1025,Subscriber,1970.0,Male,No
1026052,531,2018-08-30 18:06:44.9920,2018-08-30 18:15:36.4910,176.0,MacArthur BART Station,37.828410,-122.266315,188.0,Dover St at 57th St,37.842630,-122.267738,1704,Subscriber,1982.0,Male,No
733350,2368,2018-06-14 09:54:52.9310,2018-06-14 10:34:21.8250,155.0,Emeryville Public Market,37.840521,-122.293528,238.0,MLK Jr Way at University Ave,37.871719,-122.273068,1555,Customer,NaN,NaN,No

In [5]:
# View info of the dataframe
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 16 columns):
duration_sec               1863721 non-null int64
start_time                 1863721 non-null object
end_time                   1863721 non-null object
start_station_id           1851950 non-null float64
start_station_name         1851950 non-null object
start_station_latitude     1863721 non-null float64
start_station_longitude    1863721 non-null float64
end_station_id             1851950 non-null float64
end_station_name           1851950 non-null object
end_station_latitude       1863721 non-null float64
end_station_longitude      1863721 non-null float64
bike_id                    1863721 non-null int64
user_type                  1863721 non-null object
member_birth_year          1753003 non-null float64
member_gender              1753354 non-null object
bike_share_for_all_trip    1863721 non-null object
dtypes: float64(7), int64(2), object(7)
memory usage: 227.5+ MB

In [6]:
# Check if duplicates exist
df.duplicated().sum()

0

In [7]:
# View descriptive statistics of the dataframe
df.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.851950e+06,1.863721e+06,1.863721e+06,1.863721e+06,1.753003e+06
mean,8.573026e+02,1.196744e+02,3.776678e+01,-1.223492e+02,1.181730e+02,3.776690e+01,-1.223487e+02,2.296851e+03,1.983088e+03
std,2.370379e+03,1.003976e+02,1.057689e-01,1.654634e-01,1.004403e+02,1.056483e-01,1.650597e-01,1.287733e+03,1.044289e+01
min,6.100000e+01,3.000000e+00,3.726331e+01,-1.224737e+02,3.000000e+00,3.726331e+01,-1.224737e+02,1.100000e+01,1.881000e+03
25%,3.500000e+02,3.300000e+01,3.777106e+01,-1.224114e+02,3.000000e+01,3.777106e+01,-1.224094e+02,1.225000e+03,1.978000e+03
50%,5.560000e+02,8.900000e+01,3.778107e+01,-1.223974e+02,8.800000e+01,3.778127e+01,-1.223971e+02,2.338000e+03,1.985000e+03
75%,8.720000e+02,1.860000e+02,3.779625e+01,-1.222865e+02,1.830000e+02,3.779728e+01,-1.222894e+02,3.333000e+03,1.991000e+03
max,8.636600e+04,3.810000e+02,4.551000e+01,-7.357000e+01,3.810000e+02,4.551000e+01,-7.357000e+01,6.234000e+03,2.000000e+03

<a id='issues'></a>
**Quality issues**
 * start time and end time are objects not a timestamps
 * user type, gender and bike_share_for_all_trip can be set to category
 * bike id can be set to object
 * member birth year has dates prior to 1900
 * we can calculate the age of the user
 * we can further enhance the dataset with more details about the time like month, day, hour, weekday
 * we can calculate the distance for rides between stations

<a id='clean'></a>
### Part III - Cleaning Data

In [8]:
# Create copies of original DataFrames
df_clean = df.copy()

**Define**
<br>Set appropriate data types for fields mentioned in the [Quality issues](#issues)

**Code**

In [9]:
# set dates to timestamps
df_clean.start_time = pd.to_datetime(df_clean.start_time)
df_clean.end_time = pd.to_datetime(df_clean.end_time)

In [10]:
# set user type, gender and bike_share_for_all_trip to category
df_clean.user_type = df_clean.user_type.astype('category')
df_clean.member_gender = df_clean.member_gender.astype('category')
df_clean.bike_share_for_all_trip = df_clean.bike_share_for_all_trip.astype('category')

In [11]:
# set bike_id to object
df_clean.bike_id = df_clean.bike_id.astype(str)

**Test**

In [12]:
df_clean.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 16 columns):
duration_sec               1863721 non-null int64
start_time                 1863721 non-null datetime64[ns]
end_time                   1863721 non-null datetime64[ns]
start_station_id           1851950 non-null float64
start_station_name         1851950 non-null object
start_station_latitude     1863721 non-null float64
start_station_longitude    1863721 non-null float64
end_station_id             1851950 non-null float64
end_station_name           1851950 non-null object
end_station_latitude       1863721 non-null float64
end_station_longitude      1863721 non-null float64
bike_id                    1863721 non-null object
user_type                  1863721 non-null category
member_birth_year          1753003 non-null float64
member_gender              1753354 non-null category
bike_share_for_all_trip    1863721 non-null category
dtypes: category(3), datetime64[ns](2), float64(7), int64(1), object(3)
memory usage: 190.2+ MB

**Define**
<br>Calculate the age of the member

**Code**

In [13]:
# substract the birth year from the current year
df_clean['member_age'] = 2019-df_clean['member_birth_year']

**Test**

In [14]:
df_clean.head(20)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip,member_age
0,75284,2018-01-31 22:52:35.239,2018-02-01 19:47:19.824,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,-122.431158,2765,Subscriber,1986.0,Male,No,33.0
1,85422,2018-01-31 16:13:34.351,2018-02-01 15:57:17.310,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,2815,Customer,NaN,NaN,No,NaN
2,71576,2018-01-31 14:23:55.889,2018-02-01 10:16:52.116,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,-121.877120,3039,Customer,1996.0,Male,No,23.0
3,61076,2018-01-31 14:53:23.562,2018-02-01 07:51:20.500,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,-122.399749,321,Customer,NaN,NaN,No,NaN
4,39966,2018-01-31 19:52:24.667,2018-02-01 06:58:31.053,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,-122.403452,617,Subscriber,1991.0,Male,No,28.0
5,6477,2018-01-31 22:58:44.867,2018-02-01 00:46:41.908,236.0,Market St at 8th St,37.803686,-122.282497,160.0,West Oakland BART Station,37.805318,-122.294837,1306,Customer,NaN,NaN,No,NaN
6,453,2018-01-31 23:53:53.632,2018-02-01 00:01:26.805,110.0,17th & Folsom Street Park (17th St at Folsom St),37.763708,-122.415204,134.0,Valencia St at 24th St,37.752428,-122.420628,3571,Subscriber,1988.0,Male,No,31.0
7,180,2018-01-31 23:52:09.903,2018-01-31 23:55:10.807,81.0,Berry St at 4th St,37.775880,-122.393170,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,1403,Subscriber,1980.0,Male,No,39.0
8,996,2018-01-31 23:34:56.004,2018-01-31 23:51:32.674,134.0,Valencia St at 24th St,37.752428,-122.420628,4.0,Cyril Magnin St at Ellis St,37.785881,-122.408915,3675,Subscriber,1987.0,Male,Yes,32.0
9,825,2018-01-31 23:34:14.027,2018-01-31 23:47:59.809,305.0,Ryland Park,37.342725,-121.895617,317.0,San Salvador St at 9th St,37.333955,-121.877349,1453,Subscriber,1994.0,Female,Yes,25.0
10,1316,2018-01-31 23:24:00.416,2018-01-31 23:45:56.824,98.0,Valencia St at 16th St,37.765052,-122.421866,4.0,Cyril Magnin St at Ellis St,37.785881,-122.408915,1278,Customer,NaN,NaN,No,NaN
11,432,2018-01-31 23:34:26.484,2018-01-31 23:41:39.297,89.0,Division St at Potrero Ave,37.769218,-122.407646,43.0,San Francisco Public Library (Grove St at Hyde...,37.778768,-122.415929,2928,Subscriber,1993.0,Male,No,26.0
12,601,2018-01-31 23:29:46.832,2018-01-31 23:39:48.000,223.0,16th St Mission BART Station 2,37.764765,-122.420091,86.0,Market St at Dolores St,37.769305,-122.426826,3016,Subscriber,1957.0,Male,No,62.0
13,887,2018-01-31 23:24:16.357,2018-01-31 23:39:04.123,308.0,San Pedro Square,37.336802,-121.894090,297.0,Locust St at Grant St,37.322980,-121.887931,55,Subscriber,1976.0,Female,Yes,43.0
14,210,2018-01-31 23:33:03.046,2018-01-31 23:36:33.704,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,186.0,Lakeside Dr at 14th St,37.801319,-122.262642,2602,Subscriber,1976.0,Male,No,43.0
15,188,2018-01-31 23:30:58.136,2018-01-31 23:34:06.391,98.0,Valencia St at 16th St,37.765052,-122.421866,76.0,McCoppin St at Valencia St,37.771662,-122.422423,2556,Subscriber,1964.0,Female,No,55.0
16,808,2018-01-31 23:19:58.603,2018-01-31 23:33:27.531,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,98.0,Valencia St at 16th St,37.765052,-122.421866,3041,Subscriber,1976.0,Male,Yes,43.0
17,378,2018-01-31 23:23:23.068,2018-01-31 23:29:42.044,80.0,Townsend St at 5th St,37.775306,-122.397380,78.0,Folsom St at 9th St,37.773717,-122.411647,546,Subscriber,1995.0,Female,No,24.0
18,350,2018-01-31 23:13:45.529,2018-01-31 23:19:36.265,247.0,Fulton St at Bancroft Way,37.867789,-122.265896,274.0,Oregon St at Adeline St,37.857567,-122.267558,431,Subscriber,NaN,NaN,No,NaN
19,686,2018-01-31 23:07:15.313,2018-01-31 23:18:41.558,312.0,San Jose Diridon Station,37.329732,-121.901782,317.0,San Salvador St at 9th St,37.333955,-121.877349,1886,Subscriber,1997.0,Female,No,22.0

**Define**
<br>Enhance dataset with new date related fields

**Code**

In [15]:
# extract year 
df_clean['start_time_year']=df_clean['start_time'].dt.year.astype(int)
df_clean['end_time_year']=df_clean['end_time'].dt.year.astype(int)

In [16]:
# extract month
df_clean['start_time_month']=df_clean['start_time'].dt.month.astype(int)
df_clean['end_time_month']=df_clean['end_time'].dt.month.astype(int)

In [17]:
# extract day
df_clean['start_time_day']=df_clean['start_time'].dt.day.astype(int)
df_clean['end_time_day']=df_clean['end_time'].dt.day.astype(int)

In [18]:
# extract hour
df_clean['start_time_hour']=df_clean['start_time'].dt.hour
df_clean['end_time_hour']=df_clean['end_time'].dt.hour

In [19]:
# extract weekdays
df_clean['start_time_weekday']=df_clean['start_time'].dt.strftime('%a')
df_clean['end_time_weekday']=df_clean['end_time'].dt.strftime('%a')

**Test**

In [20]:
df_clean.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,...,start_time_year,end_time_year,start_time_month,end_time_month,start_time_day,end_time_day,start_time_hour,end_time_hour,start_time_weekday,end_time_weekday
0,75284,2018-01-31 22:52:35.239,2018-02-01 19:47:19.824,120.0,Mission Dolores Park,37.761420,-122.426435,285.0,Webster St at O'Farrell St,37.783521,...,2018,2018,1,2,31,1,22,19,Wed,Thu
1,85422,2018-01-31 16:13:34.351,2018-02-01 15:57:17.310,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,-122.394203,15.0,San Francisco Ferry Building (Harry Bridges Pl...,37.795392,...,2018,2018,1,2,31,1,16,15,Wed,Thu
2,71576,2018-01-31 14:23:55.889,2018-02-01 10:16:52.116,304.0,Jackson St at 5th St,37.348759,-121.894798,296.0,5th St at Virginia St,37.325998,...,2018,2018,1,2,31,1,14,10,Wed,Thu
3,61076,2018-01-31 14:53:23.562,2018-02-01 07:51:20.500,75.0,Market St at Franklin St,37.773793,-122.421239,47.0,4th St at Harrison St,37.780955,...,2018,2018,1,2,31,1,14,7,Wed,Thu
4,39966,2018-01-31 19:52:24.667,2018-02-01 06:58:31.053,74.0,Laguna St at Hayes St,37.776435,-122.426244,19.0,Post St at Kearny St,37.788975,...,2018,2018,1,2,31,1,19,6,Wed,Thu

In [21]:
df_clean.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863721 entries, 0 to 1863720
Data columns (total 27 columns):
duration_sec               1863721 non-null int64
start_time                 1863721 non-null datetime64[ns]
end_time                   1863721 non-null datetime64[ns]
start_station_id           1851950 non-null float64
start_station_name         1851950 non-null object
start_station_latitude     1863721 non-null float64
start_station_longitude    1863721 non-null float64
end_station_id             1851950 non-null float64
end_station_name           1851950 non-null object
end_station_latitude       1863721 non-null float64
end_station_longitude      1863721 non-null float64
bike_id                    1863721 non-null object
user_type                  1863721 non-null category
member_birth_year          1753003 non-null float64
member_gender              1753354 non-null category
bike_share_for_all_trip    1863721 non-null category
member_age                 1753003 non-null float64
start_time_year            1863721 non-null int32
end_time_year              1863721 non-null int32
start_time_month           1863721 non-null int32
end_time_month             1863721 non-null int32
start_time_day             1863721 non-null int32
end_time_day               1863721 non-null int32
start_time_hour            1863721 non-null int64
end_time_hour              1863721 non-null int64
start_time_weekday         1863721 non-null object
end_time_weekday           1863721 non-null object
dtypes: category(3), datetime64[ns](2), float64(8), int32(6), int64(3), object(5)
memory usage: 303.9+ MB

### What is the structure of your dataset?

> Your answer here!

### What is/are the main feature(s) of interest in your dataset?

> Your answer here!

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> Your answer here!

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!